
.App {
  text-align: center;
  background-color: rgb(29, 32, 37);
  flex-wrap: wrap;
  align-content: center;
  
}
.apibox {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-height: 87vh;
  
  width: 40.48%;
  overflow: hidden;
  margin: 5px;
  padding: 20px;
  color: white;
  display:inline-block; 
  justify-content: center;
  font-family:'product-sans';
}

.storageBox {
  background-color: rgb(40, 44, 52);
  border-radius: 15px;
  border: solid rgba(0, 0, 0, 0.288) 4px;
  min-height: 73.31vh;
}

.inputBox {
  padding: 10px;
  background-color: rgb(40, 44, 52);
  border-radius: 15px;
  
  border: solid rgba(0, 0, 0, 0.288) 4px;
  min-height: 100%;
}


#textbox {
  margin-right: 15px;
}

